@model List<OdrzavanjeVozila.Klase.Automobil>
<h2>Vozila korisnika</h2>
<table class="table">
    <thead>
        <tr><th>Marka</th><th>Model</th><th>Godiste</th><th>Registracija</th><th>Detalji</th></tr>
    </thead>
    <tbody>
    @foreach(var a in Model)
    {
        <tr>
            <td>@a.Marka</td>
            <td>@a.Model</td>
            <td>@a.Godiste</td>
            <td>@a.RegistracijskiBroj</td>
            <td><a asp-controller="Automobil" asp-action="Details" asp-route-id="@a.Id">Details</a></td>
        </tr>
    }
    </tbody>
</table>
